language: python
python:
  - "2.7"
  - "3.3"
  - "3.4"
  - "3.5"
  - "3.5-dev" # 3.5 development branch
  - "3.6-dev" # 3.6 development branch

# command to install dependencies
install:
  - "pip install pytest>=3.2.0"
  - "pip install -e ."

# command to run tests
script: 
  - "python setup.py test"
